h2 {
  color: #C4A477;
  font-weight: 300;
  text-align: center;
  margin: 20px 0 20px 0; }

h3 {
  color: #C4A477;
  font-weight: 300;
  text-align: center;
  margin: 20px 0 20px 0; }

h4 {
  color: #C4A477;
  font-weight: 300;
  text-align: center;
  margin: 20px 0 20px 0; }

h5 {
  color: #C4A477;
  font-weight: 300;
  text-align: center;
  margin: 20px 0 20px 0; }

h6 {
  color: #C4A477;
  font-weight: 300;
  text-align: center;
  margin: 20px 0 20px 0; }

.badge {
  background-color: #C4A477;
  border: none;
  margin: 20px 0 20px 0; }

body {
  font-family: roboto;
  margin: 0;
  padding: 0; }

header .menu-bar-basico {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 40px; }
  header .menu-bar-basico a {
    text-decoration: none;
    color: #5E5E5E;
    font-weight: 500; }
    header .menu-bar-basico a:hover {
      color: #9faeae; }

header .redes-sociales {
  display: flex;
  justify-content: flex-end; }
  header .redes-sociales i {
    color: #5E5E5E;
    font-size: 23px;
    margin-top: 40px;
    margin-left: 30px; }
    header .redes-sociales i:hover {
      color: #9faeae; }

.fas {
  color: #5E5E5E;
  font-size: 23px;
  margin-top: 40px;
  margin-left: 30px; }
  .fas:hover {
    color: #9faeae; }

section .imagen-portada {
  animation-duration: 3s;
  animation-name: aparecer;
  width: 100%;
  margin: 20px 0 20px 0;
  position: relative; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

section h1 {
  position: absolute;
  color: #F2F4F4;
  top: 30%;
  left: 5%;
  font-size: 100px;
  font-weight: 300; }

section p {
  color: #5E5E5E;
  text-align: center;
  margin: 10px 0 20px 0; }

.texto-img {
  text-align: center;
  margin-top: 120px;
  color: #5E5E5E;
  font-size: 21px; }

.imagenes-hover {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 20px 0 20px 0; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.prueba-img:hover .imagenes-hover {
  opacity: 0.3; }

.prueba-img:hover .middle {
  opacity: 1; }

.texto {
  color: #5E5E5E;
  font-size: 40px;
  font-weight: 300; }

.section-productos .menu-bar-productos {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20%; }
  .section-productos .menu-bar-productos a {
    text-decoration: none;
    color: #5E5E5E;
    font-weight: 500; }
    .section-productos .menu-bar-productos a:hover {
      color: #9faeae; }

.section-productos p {
  text-align: center;
  margin-bottom: 16px; }

.section-ingredientes .logo-ingredientes {
  margin: 32px 0 32px 0; }

.card {
  border: none;
  border-bottom: 15px; }

.sub-productos h3 {
  text-align: left; }

.sub-productos h4 {
  text-align: left;
  font-weight: 600;
  color: #5E5E5E; }

.sub-productos p {
  text-align: left; }

.section-contacto p {
  text-align: center;
  color: #5E5E5E;
  margin: 10px 0 10px 0; }

.section-contacto .form-group label {
  color: #5E5E5E; }

.section-contacto .btn {
  background-color: #C4A477;
  color: white;
  border: none;
  margin-bottom: 32px; }

.section-nosotros p {
  text-align: center;
  color: #5E5E5E;
  margin: 32px 0 32px 0; }

footer {
  border-top: thin solid #F2F4F4; }
  footer p {
    font-size: 16px;
    text-align: center;
    color: #5E5E5E; }
  footer .newsletter {
    color: #5E5E5E;
    text-align: center; }
  footer input {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    border-bottom: thin solid #5E5E5E; }
  footer .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px; }
  footer .accesos-footer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 40px 50px; }
  footer a {
    text-decoration: none;
    color: #5E5E5E;
    align-items: center; }
    footer a:hover {
      color: #9faeae; }

.preguntas h3 {
  text-align: left;
  font-size: 25px;
  font-weight: 600; }

@media (max-width: 576px) {
  .logo {
    align-items: center; }
  .menu-bar-basico {
    margin-left: 16px; }
  .redes-sociales i {
    display: none; }
  .imagen-portada {
    display: none; }
  h1 {
    display: none; }
  .texto-img {
    display: none; }
  footer {
    display: none; }
  .menu-bar-productos a {
    display: none; } }

@media (max-width: 768px) {
  .logo {
    align-items: center; }
  .redes-sociales i {
    display: none; }
  .imagen-portada {
    display: none; }
  h1 {
    display: none; }
  .texto-img {
    display: none; }
  .prueba-img {
    align-items: center; }
    .prueba-img .middle {
      display: none; }
  .logo-ingredientes {
    display: none; } }
